apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  # commonLabels must have at least one unique label
  # per environment to ensure selectors are applied correctly
  app.kubernetes.io/instance: staging
bases:
  - ../../base/passport-status-api/
  - ../../base/passport-status-db-cn/
  - ../../base/passport-status-frontend/
  - ../../base/passport-status-maintenance/
images:
  - name: dtsrhpdevscedacr.azurecr.io/passport-status
    newTag: 20251118-91-f96aa5e8
  - name: dtsrhpdevscedacr.azurecr.io/passport-status-api
    newTag: 20251118-00014-6592ffc8
  - name: dtsrhpdevscedacr.azurecr.io/passport-status-maintenance
    newTag: 20230106-12-e434d1d5
namespace: passport-status-preprod
nameSuffix: -staging
patchesStrategicMerge:
  - ./passport-status-api-configmaps.yaml
  - ./passport-status-api-deployments.yaml
  - ./passport-status-frontend-configmaps.yaml
  - ./passport-status-frontend-deployments.yaml
  - ./passport-status-maintenance-deployments.yaml
resources:
  - ./artemis-deployments.yaml
  - ./artemis-security-deployments.yaml
  - ./external-secrets.yaml
  - ./passport-status-api-hpas.yaml
  - ./passport-status-api-ingresses.yaml
  - ./passport-status-frontend-hpas.yaml
  - ./passport-status-frontend-ingresses.yaml
secretGenerator:
  - name: passport-status-api
    envs:
      - ./.env.api.secret
patches:
  - target:
      kind: Cluster
      name: passport-status-db-cn
    patch: |-
      - op: replace
        path: /spec/instances
        value: 2
      - op: replace
        path: /spec/storage/size
        value: 64Gi
      - op: replace
        path: /spec/bootstrap/initdb/secret/name
        value: passport-status-db-cn-staging
      - op: replace
        path: /spec/resources/requests/cpu
        value: 200m
      - op: replace
        path: /spec/resources/limits/cpu
        value: 500m
      - op: replace
        path: /spec/resources/requests/memory
        value: 512Mi
      - op: replace
        path: /spec/resources/limits/memory
        value: 1Gi
      - op: replace
        path: /spec/postgresql/parameters/shared_buffers
        value: 128MB
  - target:
      kind: Pooler
      name: passport-status-db-cn-pooler-rw
    patch: |-
      - op: replace
        path: /spec/cluster/name
        value: passport-status-db-cn-staging
